<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>

    <!--Подключение скриптов с помощью html-хелпера-->
    @await Html.PartialAsync("Partial/_Styles")

    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->

</head><!--/head-->

<body>
    <!--Подключение header с помощью таг-хелпера-->
    <partial name="Partial/_Header" />

    @RenderBody()

    <!--Подключение footer с помощью таг-хелпера-->
    <partial name="Partial/_Footer" />

    <!--Подключение скриптов с помощью таг-хелпера-->
    <partial name="Partial/_Scripts" />
</body>
</html>